body {
  background-color: #240b36;
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}

#calculator {
  padding: 20px;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: auto;
  width: 300px;
  border-radius: 20px;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#pantalla {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contenedor-numero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.contenedor-calculo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
